<header class="container text-center my-5">
    <img style="border-radius: 100%;" src="/assets/images/profile.png" height=144 width=144 alt="Photo de Nathan Flacher" priority />
    <h1>{{ firstName }} {{ lastName }}</h1>
</header>
<main>
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{ cardTitle }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ cardSubtitle }}</h6>
              <p class="card-text">{{ cardDescription }}</p>
            </div>
          </div>
    </div>
</main>
